* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: auto;
}

/* tr {
    display: flex;
    flex-direction: row;
} */

tr {
    display: table-cell;
}

td {
    transform: rotate(180deg);
}

.board {
    background-color: green;
}

div.cell {
    position: fill;
    display: flex;
    flex-direction: column;
    border: solid black;
    transform: rotate(90deg);
    padding: 10px;
    margin: 5px;
    align-items: center;
    float: left;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(5, 1fr);
    color: white;
}

div {
    display: flex;
    float: left;
}

div.cell:hover {
    background-color: lightblue;
}

div.bigCell:hover {
    background-color: lightblue;
}

div.bigCell {
    visibility: hidden;
}



